@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	background-color: black;
	background-image: radial-gradient(rgba(0, 0, 100, 0.75), black 120%);
	height: 100vh;
	font-family: "Courier Prime", monospace;
	color: #55aaff;
	text-shadow: 0 0 5px #C8C8C8;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	/* background: linear-gradient(to right, #424242, #adadfe); */
	padding: 2px;
	/* animation: 6s 1 normal header2; */
	text-shadow: 0 0 5px #C8C8C8;

}

h1::before {
	content:'{';
	float: left;
}

h1::after {
	content: '}';
	float: right;
}

a {
	text-decoration: none;
	display: block;
}

@keyframes header2 {

	0%,
	25% {
		background: linear-gradient(to right, #010101, #3f3f3f);
	}

	50% {
		background: linear-gradient(to right, #3f3f3f, #404040);
	}

	100% {
		background: linear-gradient(to right, #424242, #adadad);
	}
}



.dream {
	display: none;
}

.vision {
	display: none;
}

.unfettered {
	display: none;
}

.dream:hover {
	display: block;
}

.vision:hover {
	display: block;
}

.unfettered:hover {
	display: block;
}

.dreamH {
	position: relative;
}

.visionH {
	position: relative;
}

.freeH {
	position: relative;
}

.dreamH::before {
	content: '::';
}

.visionH::before {
	content: '::';
}

.freeH::before {
	content: '::';
}

.dreamH p::before {
	content: '[';
}

.visionH p::before {
	content: '[';
}

.freeH p::before {
	content: '[';
}

.dreamH p::after {
	content: ']';
}

.visionH p::after {
	content: ']';
}

.freeH p::after {
	content: ']';
}

.dreamH:hover>.dream {
	display: block;
	color: #ffffff;
}

.visionH:hover>.vision {
	display: block;
	color: #ffffff;
}

.freeH:hover>.unfettered {
	display: block;
	color: #ffffff;
}

p {
	text-indent: 0.5em;
}


.home:hover {
	display: inline-flex;
	color: #ffffff;

}

.project:hover {
	display: inline-flex;
	color: #ffffff;

}

.stuff:hover {
	display: inline-flex;
	color: #ffffff;

}

.home:visited {
	display: inline-flex;
	color: #ffffff;

}

.project:visited {
	display: inline-flex;
	color: #ffffff;
}

.stuff:visited {
	display: inline-flex;
	color: #ffffff;

}

.menu {

	position: sticky;
	float: middle;
	width: 16%;
}

.menu div {
	position: relative;

}

.bodycontent div {
	position: relative;
	display: inline-block;

}

svg text {
	font-size: 1rem;
	stroke-width: 1;
}

svg text.text-menu {
	stroke: #55aaff;
	color: #464646;
}

svg text.text-menu:hover {
	stroke: #ffffff;
	color: #ffffff;
	text-shadow: 0 0 5px #C8C8C8;
}

svg text.text-body {
	stroke: #55aaff;
	color: #464646;
	animation: 2s 1 normal animate-stroke;
	text-shadow: 0 0 5px #C8C8C8;
}
